* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(38, 38, 38, 0.5);
    border: solid 1px #9e9e9e;
}

nav {
    height: 60px;
    padding: 18px 0.75% 0 0.75%;
    max-width: 650px;
    margin: auto;
    text-align: center;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 3%;
    font-size: 14px;
    padding: 13px 0;
}

section {
    padding: 10px;
    max-width: 650px;
    margin: auto;
}

.anchor-offset {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

#home-banner {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: #0060cd;
    color: #fff;
    }

#home-banner-content {
    text-align: center;
    position: relative;
    top: 40%;
}

.banner {
    width: 100%;
    max-width: 100%;
    height: 40vh;
    background-color: #0060cd;
    color: #fff;
}

.banner-content {
    text-align: center;
    position: relative;
    top: 40%;
}

h1 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
}

h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid #0060cd;
    display: inline-block;
}

h3 {
    font-size: 21px;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin: 15px 0;
    line-height: 25px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    line-height: 25px;
    margin: 15px 0;
}

li {
    padding: 10px;
    border: 1px solid #191b1b;
    background-color: #e7e6e6;
    margin: 10px 0;
    border-radius: 3px;
    
}

ul a {
    text-decoration: none;
    color: #000;
}

li:hover {
    border: 1px solid #0060cd;
    background-color: #fff;
    font-weight: 600;
}

.breadcrumbs {
    padding: 15px 5%;
    border-bottom: 1px solid #adadad;
}

.full-width-section-heading {
    max-width: 650px;
    margin: auto;
    padding: 0 10px;
}

.separator {
    width: 60%;
    height: 2px;
    background-color: #fff;
    margin: auto;
}

#intro {
    font-weight: 900;
}

.gallery {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    flex-flow: row wrap;
}

.logo-container {
    border: 1px solid lightgrey;
    max-width: 140px;
    max-height: 140px;
    margin: 5px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
}

.logo-img {
    width: 95%;
    height: 95%;
}

label {
    display: block;
}

input {
    height: 50px;
    width: 100%;
    margin: 2px 0 20px 0;
    font-size: 16px;
    padding: 10px 5px;
    border-radius: 3px;
    border: 1px solid #000;
}

textarea {
    width: 100%;
    margin: 2px 0 20px 0;
    padding: 10px 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #000;
}

button {
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    border: 2px solid #0060cd;
    font-size: 21px;
    text-transform: uppercase;
    background-color: #fff;
    color: #0060cd;
}

button:hover {
    background-color: #0060cd;
    color: #fff;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #0060cd;
}

i, footer p {
    color: #fff;
    display: inline-block;
    padding: 0 3px;
}

@media only screen and (min-width: 370px) {
    .logo-container {
        max-width: 150px;
        max-height: 150px;
        margin: 10px;
    }
}

@media only screen and (min-width: 600px) {
    nav a {
        margin-right: 2%;
        font-size: 16px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 28px;
    }

    p {
        font-size: 19px;
    }

    li {
        font-size: 19px;
    }

    .separator {
        width: 45%;
    }
    .logo-container {
        margin: 3px;
    }
}

@media only screen and (min-width: 1400px) {
    nav a {
        margin-right: 5%;
    }

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 42px;
    }

    .separator {
        width: 30%;
    }
}