* {
    font-family: 'Aleo', serif;
    margin: 0;
    padding-bottom: 0.5rem;
    scroll-behavior: smooth;
}

html, body, footer {
    padding-bottom: 0;
}

h1 {
    font-size: 4vw;
}

h2 {
    padding: 2rem 0 0 0;
    margin: 0 0 1.25rem 0;
    font-size: 2.5rem;
}

h3 {
    font-size: 2.5vw;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
    padding-top: 0.5rem;
}

main {
    padding: 0 15%;
}

#intro {
    background-color: dimgrey;
    color: white;
    padding: 2rem 15% 2rem 15%;
}

.heading {
    border-bottom: 3px solid #e87f62;
}

#intro img {
    border-radius: 50%;
    margin-top: 1rem;
    border: 1px solid #e87f62;
    padding: 0;
    background-color: white;
    max-width: 35%;
    height: auto;
}

nav {
    text-align: center;
    background-color: #e87f62;
    padding: 1rem;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    color: white;
}

/* TIMELINE STYLING */

.timeline-listing {
    border-bottom: 1px solid dimgrey;
    margin: 0 0 10px 0;
}

.timeline-listing:first-child {
    border-top: 1px solid dimgrey;
    padding-top: 10px;
}

/* END OF TIMELINE STYLING */

form {
    background-color: dimgrey;
    padding: 3% 2%;
    border-radius: 10px;
}

label {
    padding: 0 0 0 1rem;
    font-size: 1.5rem;
    line-height: 2.5;
    color: white;
}

input, textarea {
    width: 92.5%;
    border-radius: 10px;
    padding: 1.5% 2.5%;
    font-size: 1rem;
}

#submit {
    margin-top: 1rem;
    width: 50%;
    background-color: #e87f62;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #e87f62;
    margin: 2rem 0 0 0;
}

footer p {
    text-align: center;
    color: white;
    padding: 1rem 0;
    font-size: 1.5rem;
}

/* RESPONSIVE STYLING */
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 6vw;
    }
    
    h3 {
        font-size: 3.5vw;
    }
    
    #intro img {
        max-width: 50%;
        height: auto;
    }
    
    main {
        padding: 0 10%;
    }
    
    input, textarea {
        padding: 2% 2.5%;
    }
}

@media only screen and (max-width: 675px) {
    h1 {
        font-size: 8vw;
    }
    
    h3 {
        font-size: 5vw;
    }
    
    #intro img {
        max-width: 80%;
        height: auto;
    }
    
    nav {
        padding: 1rem 0.25rem;
    }
    
    nav a {
        font-size: 1rem;
        padding: 1rem 0.25rem;
    }
    
    main {
        padding: 0 5%;
    }
    
    input, textarea {
        padding: 2.5%;
    }
}