* {
    font-family: 'Aleo', serif;
    margin: 0;
    padding-bottom: 0.5rem;
    scroll-behavior: smooth;
}

html, body, footer {
    padding-bottom: 0;
}

h1 {
    font-size: 4vw;
}

h2 {
    padding: 2rem 0 0 0;
    margin: 0 0 1.25rem 0;
    font-size: 2.5rem;
}

h3 {
    font-size: 2.5vw;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
    padding-top: 1rem;
}

main {
    padding: 0 15%;
}

#intro {
    background-color: dimgrey;
    color: white;
    padding: 2rem 15% 2rem 15%;
}

.heading {
    border-bottom: 3px solid #e87f62;
}

#intro img {
    border-radius: 50%;
    margin-top: 1rem;
    border: 1px solid #e87f62;
    padding: 0;
    background-color: white;
    max-width: 35%;
    height: auto;
}

nav {
    text-align: center;
    background-color: #e87f62;
    padding: 1rem;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    color: white;
}

.timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    left: 50%;
    width: 2px;
    background: #e87f62;
}
/* *******************
** FIX STYLING BUGS **
******************* */

.timeline {
    position: relative;
    margin: 50px auto;
    width: 1000px;
    padding: 20px 0;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    box-sizing: border-box;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 40px 70px;
}

.timeline ul li .right_content h4 {
    color: #e87f62;
    padding: 0 2px 18px 0;
    font-size: 1.75rem;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.left_content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(59,112,239,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
    right: -6px;
    top: 24px;
    z-index: 1;
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(59,112,239,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
    left: -6px;
    top: 24px;
}

.timeline ul li:nth-child(odd) .left_content {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    
    color: #000;
    box-shadow: 0 0 0 3px rgba(59,112,239,0.3);
    border-radius: 18px;
}

.timeline ul li:nth-child(even) .left_content{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  
  color:#000;
  box-shadow:0 0 0 3px rgba(59,112,239,0.3);
  border-radius:18px;
}

form {
    background-color: dimgrey;
    padding: 3% 2%;
    border-radius: 10px;
}

label {
    padding: 0 0 0 1rem;
    font-size: 1.5rem;
    line-height: 2.5;
    color: white;
}

input, textarea {
    width: 92.5%;
    border-radius: 10px;
    padding: 1.5% 2.5%;
    font-size: 1rem;
}

#submit {
    margin-top: 1rem;
    width: 50%;
    background-color: #e87f62;
    color: white;
}

footer {
    background-color: #e87f62;
    margin: 2rem 0 0 0;
}

footer p {
    text-align: center;
    color: white;
    padding: 1rem 0;
    font-size: 1.5rem;
}

/* RESPONSIVE STYLING */
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 6vw;
    }
    
    h3 {
        font-size: 3.5vw;
    }
    
    #intro img {
        max-width: 50%;
        height: auto;
    }
    
    main {
        padding: 0 10%;
    }
    
    input, textarea {
        padding: 2% 2.5%;
    }
}

@media only screen and (max-width: 675px) {
    h1 {
        font-size: 8vw;
    }
    
    h3 {
        font-size: 5vw;
    }
    
    #intro img {
        max-width: 80%;
        height: auto;
    }
    
    nav {
        padding: 1rem 0.25rem;
    }
    
    nav a {
        font-size: 1rem;
        padding: 1rem 0.25rem;
    }
    
    main {
        padding: 0 5%;
    }
    
    input, textarea {
        padding: 2.5%;
    }
}