body {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 50px;
}

header {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
}

h2 {
    padding: 5px 0;
    border-bottom: 1px solid hsl(0, 0%, 70%);
}

code {
    background-color: hsl(0, 0%, 80%);
    font-size: 16px;
    padding: 0 2px;
    color: hsl(0, 80%, 65%);
}

section {
    padding-bottom: 20px;
}

.callout {
    background-color: hsl(230, 80%, 92%);
    padding: 10px 20px;
    border-left: 5px solid hsl(230, 80%, 50%);
}

.container {
    background-color: antiquewhite;
    display: flex;
    margin: auto;
    min-height: 150px;
}

.box {
    width: 90px;
    min-width: 75px;
    min-height: 100px;
    background-color: blue;
    border: 1px solid lightgray;
    margin: 2px;

    /* For the box numbering */
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.wide {
    width: 400px;
}

.wrap {
    min-height: 300px;
    flex-wrap: wrap;
}

#justify-flex-start {
    justify-content: flex-start;
}

#justify-flex-end {
    justify-content: flex-end;
}

#justify-center {
    justify-content: center;
}

#justify-space-around {
    justify-content: space-around;
}

#justify-space-between {
    justify-content: space-between;
}

#align-flex-start {
    align-items: flex-start;
    justify-content: center;
}

#align-flex-end {
    align-items: flex-end;
    justify-content: center;
}

#align-center {
    align-items: center;
    justify-content: center;
}
#align-baseline {
    align-items: baseline;
    justify-content: center;
}

#align-stretch {
    align-items: stretch;
    justify-content: center;
}

#long-box {
    height: 125px;
}

#grow1 {
    flex-grow: 1;
}

#grow2 {
    flex-grow: 2;
}

#shrink1 {
    flex-shrink: 1;
}

#shrink2 {
    flex-shrink: 2;
}

#shrink3 {
    flex-shrink: 3;
}

#basis-grow {
    flex-basis: 100px;
    flex-grow: 2;
}

#basis-shrink {
    flex-basis: 300px;
    flex-shrink: 2;
}

/* grow shrink basis */
#flex1 {
    flex: 1 2 100px;
}

#flex2 {
    flex: 2 1 150px;
}

#flex3 {
    flex: 3 3 200px;
}

#wrap {
    flex-wrap: wrap;
}

#wrap-reverse {
    flex-wrap: wrap-reverse;
}

#align-content-flex-start {
    align-content: flex-start;
}

#align-content-flex-end {
    align-content: flex-end;
}

#align-content-center {
    align-content: center;
}

#align-content-space-between {
    align-content: space-between;
}

#align-content-space-around {
    align-content: space-around;
}

#align-content-stretch {
    align-content: stretch;
}

#flex-direction-row {
    flex-direction: row;
}

#flex-direction-row-reverse {
    flex-direction: row-reverse;
}

#flex-direction-column {
    flex-direction: column;
    align-items: center;
}

#flex-direction-column-reverse {
    flex-direction: column-reverse;
    align-items: center;
}

#flex-flow {
    flex-flow: row wrap;
}

#nested {
    min-height: 400px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#nested1 {
    display: inline-flex;
    flex-flow: column wrap;
}

#nested2 {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

span {
    color: white;
    font-size: 20px;
    text-align: center;
    display: block;
    line-height: 100px;
}